.NotificationsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

  background: linear-gradient(#f4f6f7, #a9d4f7) fixed;

  padding: 20px;
  padding-bottom: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;
}

.notifications {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.read {
  color: #3958be;
  cursor: pointer;
}