.NotificationsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 20px;
}

.update {
  display: flex;
  justify-content: flex-end;

  margin-bottom: 10px;
}

.notifications {
  display: flex;
  flex-direction: column;
  gap: 10px;
}