.NotificationsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;
}

.notifications {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.read {
  color: rgb(126, 126, 245);
  cursor: pointer;
}